---
import Layout from "../../layouts/Layout.astro";
import HeroProjets from "../../components/HeroProjets.astro";
import ConceptSection from "../../components/ConceptSection.astro";
import DesignSection from "../../components/DesignSection.astro";
import LogoSection from "../../components/LogoSection.astro";
import MaquetteSection from "../../components/MaquetteSection.astro";
import { getProjetBySlug, getFavoriProjets } from "../../lib/pocketbase.mjs";
import DeveloppementSection from "../../components/DeveloppementSection.astro";

export const prerender = false;

const { slug } = Astro.params;
const projet = await getProjetBySlug(slug);

if (!projet) {
  return Astro.redirect("/");
}
---

<Layout>
  <div class="space-y-16">
    <HeroProjets {projet} />
    <ConceptSection {projet} />
    <DesignSection {projet} />
    <LogoSection {projet} />
    <MaquetteSection {projet} />
    <DeveloppementSection {projet} />
  </div>
</Layout>
